# shellcheck shell=bash
if ! has nix_direnv_version || ! nix_direnv_version 3.1.0; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.1.0/direnvrc" "sha256-yMJ2OVMzrFaDPn7q8nCBZFRYpL/f0RcHzhmw/i6btJM="
fi
use flake path:./nix
# put per-project GOPATH under .direnv/
layout go

# override caches *after* layout go so they don't sit in .direnv
export GOMODCACHE="$HOME/.cache/go/mod"
export GOCACHE="$HOME/.cache/go-build"
export GOFLAGS="-modcacherw"   # optional: avoids read-only cache files
export GOWORK=off              # avoids stray workspace confusion

# if you want pure-Go builds here:
export CGO_ENABLED=1
